@media (max-width:1024px){
    html{
        font-size: 13px;
    }

}
@media(max-width:740px){
    .hide-on-mobile{
        display: none;
    }
    .header{
        justify-content: center;
    }


}